body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-banner {
    background-color: #E4E2DD;
    color: #004AAD;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em 2em; /* Added padding for spacing */
    box-sizing: border-box;
    position: relative;
}

.logo {
    height: 65px; /* Adjust the height as needed */
    margin-right: 20px;
    position: absolute;
    left: 20px;
}

.nav-item {
    padding: 0.5em;
    cursor: pointer;
    margin-left: auto; /* Pushes navigation items to the right */
    display: flex;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.banner {
    background-color: #E4E2DD;
    color: #004AAD;
    width: 100%;
    text-align: center;
    padding: 1em 0;
}

.container {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-top: 1em;
}

h1 {
    font-size: 24px;
    margin: 0;
}

h2 {
    font-size: 20px;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5em;
    font-weight: bold;
}

textarea, input {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    background-color: #004AAD;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00337A;
}
